<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">
    <script type="text/javascript" src="/src/js/jquery-1.12.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/src/js/editor.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/src/css/editor.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $('.txtarea').Editor();

            $('#txt-content').Editor('setText', ['<p style="color:red;">Hola</p>']);

            $('#btn-enviar').click(function (e) {
                e.preventDefault();
                $('#txt-content').text($('#txt-content').Editor('getText'));
                $('#frm-test').submit();
            });
        });	
    </script>

</head>

<body>
    <div id="container">
        <div class="menu">
            <a href="" class="menu__logo"></a>
            <div class="menu__list">
                <li><a href="">Students</a></li>
                <li><a href="">News</a></li>
                <li><a href="/src/views/courses/courses.html">Courses</a></li>
                <li class="press"><a href="/src/views/activity/actividades.html">Activities</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Certificates</a></li>
                <li><a href="" class="space">Perzonalized classes</a></li>
                <li class="space2"><a href="">Promotions</a></li>
                <li><a href="">Membersips</a></li>
                <li><a href="">Referrals</a></li>
                <li><a href="">Sponsors</a></li>
                <li><a href="/src/views/index.html">Reviews</a>


            </div>

        </div>
        <section id="nav">
            <div class="nav__icon">
                <i class="fas fa-bell"></i>
                <i class="far fa-envelope"></i>
                <a href="" class="profile"></a>
            </div>
        </section>
        <section id="cont-new-review">
            <section class="crud" id="list-select">
                <article>
                    <p class="crud-title p1">Create New Course</p>
                    <form action="" class="crud-form">
                        <!--   <input class="valor" type="text" name="valor" placeholder="id" required> -->

                        <input class="title" type="text" name="activitiName" placeholder="Course Title" required>
                        <!-- <input class="title" type="text" name="title" placeholder="Activity Name" required> -->

                        <select class="list-one" name="category">
                            <option selected disabled="">Category</option>
                            <option>Bussiness</option>
                            <option>Engineer</option>
                            <option>Specialist</option>
                            <option>Associate</option>
                            <option>Producer</option>
                            <option>Developer</option>
                            <option>Manager</option>
                            <option>Technician</option>
                            <option>Assistant</option>
                        </select>

                        <input class="list-two" type="number" name="" placeholder="Price*">


                        <div id="area2">
                            <textarea name="description" class="txtarea" cols="30" rows="10"> </textarea>
                        </div>


                        <input id="create-review" type="submit" value="Create Course">
                        <input type="hidden" name="id">


                    </form>
                </article>

            </section>
        </section>

    </div>

    <!--   <template id="crud-template">
        <tr>
            <td class="id-activitie"></td>
            <td class="nameActivity"></td>
            <td class="category"></td>
            <td class="tags"></td>
            <td class="description"></td>
            <td>
                <button class="edit">Editar</button>
                <button class="delete">Eliminar</button>
            </td>
        </tr>
    </template> -->

    <script src="/src/js/prueba.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"> </script>

</body>

</html>