@use "mixingfunc";
/* ----------------------Section Form---------------------------- */
.cont-new-course {
  @include mixingfunc.measures(1251px, 840px, 424px, 144px);
  position: absolute;
  background: #ffffff;
  border-radius: 20px;

  .title-course {
    box-sizing: border-box;
    padding-left: 19px;
    padding-right: 10px;
    position: absolute;
    width: 1194px;
    height: 51px;
    left: 29px;
    top: 65px;
    color: #000;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-size: 25px;
  }
}
.open-form-course {
  transform: translateY(-200%);
}

#cont-form-courses {
  .input-category-course {
    box-sizing: border-box;
    position: absolute;
    @include mixingfunc.measures(590px, 51px, 29px, 131px);
    @include mixingfunc.font-style(Poppins, normal, 400, 25px, 130%, justify);
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    padding-left: 19px;
    color: #000000;
  }

  .input-price-course {
    box-sizing: border-box;
    position: absolute;
    @include mixingfunc.measures(590px, 51px, 633px, 131px);
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
    padding-left: 19px;
  }

  #area-courses {
    box-sizing: border-box;

    position: absolute;
    width: 1194px;
    height: 443px;
    left: 29px;
    top: 200px;
    border-radius: 10px;
    .txtarea-course {
      margin-top: 40px;
      resize: none;
      border-radius: 10px;
      width: 1194px;
      height: 483px;
    }
  }
}
#create-course {
  position: absolute;
  width: 226px;
  height: 48px;
  left: 997px;
  top: 771px;

  background: #338af3;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  transition: all 0.4s ease;

  color: #ffffff;
  &:hover {
    background: #fff;
    color: #000;
  }
}

.font-title-course {
  position: absolute;
  width: 278px;
  height: 39px;
  left: 17px;
  top: 11px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 39px */

  color: #000000;
}

.none-course {
  display: none;
}

/*----------------------------- Section Table---------------------- */

.cont-tables-course {
  //@include mixingfunc.measures(1051px, 594px, 344px, 142px);
  margin: 142px 45px 288px 424px;

  width: 1251px;
  height: 594px;
  background: #8eaaff;
  border-radius: 20px;
  position: absolute;

  .cont-table-course_blue {
    overflow-y: auto;
    width: 1251px;
    height: 529px;
    border-radius: 18px;
  }

  .table-course {
    width: 1251px;
    height: 529px;
    background: #ffffff;
    border-radius: 20px;
    border-collapse: collapse;
    th {
      @include mixingfunc.font-style(
        Helvetica,
        normal,
        600,
        30px,
        130%,
        center
      );
      font-family: Arial, Helvetica, sans-serif;
      border: solid 1px black;
      max-height: 53px;
    }
    td {
      @include mixingfunc.font-style(Helvetica, normal, 400, 25px, 130%, left);
      border: solid 1px black;
      padding-left: 17px;
      padding-right: 17px;

      max-height: 39px;
      max-width: 400px;
      text-align: justify;
    }
  }
}
.up-table-course {
  transform: translateY(-200%);
}

.btn-courses {
  @include mixingfunc.measures(226px, 48px, 1000px, 539px);
  @include mixingfunc.font-style(Inter, normal, 600, 25px, 130%, center);
  background: #338af3;
  border-radius: 20px;
  position: absolute;
  color: #ffffff;
  transition: all 0.5s ease;
  padding-top: 5px;

  &:hover {
    background: #fff;
    color: #000;
    transition: all 0.4s ease;
  }
  color: #ffffff;
  text-decoration: none;
}

/*------------------Section Modal-----------*/

#modal-container-course {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  @include mixingfunc.measures(100%, 100%, 0, 0);
  background-color: rgba(143, 143, 143, 0.65);
}
.modal-close-course {
  transform: translateY(-200%);
}

.modal-course {
  position: absolute;
  width: 928px;
  height: 563px;
  left: 456px;
  top: 224px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 1s;
  transform: translateY(0%);

  .parrafo {
    position: absolute;
    @include mixingfunc.measures(850px, 307px, 39px, 71px);
    @include mixingfunc.font-style(Poppins, normal, 400, 25px, 130%, center);
    text-align: justify;
    color: #000000;
    overflow-y: scroll;
  }
  .title-modal-course {
    position: absolute;
    @include mixingfunc.measures(328px, 32px, 300px, 23px);
    @include mixingfunc.font-style(Poppins, normal, 700, 25px, 130%, center);
    color: #000000;
  }

  .close-course {
    position: absolute;
    left: 95.04%;
    right: 1.72%;
    top: 2.11%;
    bottom: 93.65%;
    color: #000;
    i {
      font-size: 30px;
    }
  }
  .cont-p-courses {
    position: absolute;
    width: 850px;
    height: 346px;
    left: 39px;
    top: 71px;
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      /* or 32px */

      text-align: justify;

      color: #000000;
    }
  }
  .pe {
    position: absolute;
    width: 171px;
    height: 32px;
    left: 39px;
    top: 462px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }
  .do {
    position: absolute;
    width: 84px;
    height: 32px;
    left: 39px;
    top: 494px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */

    color: #000000;
  }
}

/*-------------Modal delete --------------------------*/



#modal-container-dc {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  @include mixingfunc.measures(100%, 100%, 0, 0);
  background-color: rgba(143, 143, 143, 0.65);
}
.modal-dc {
  box-sizing: border-box;
  position: absolute;
  @include mixingfunc.measures(898px, 305px, 25%, 381px);
  bottom: 338px;
  background: rgba(255, 255, 255, 0.65);
  border: 3px solid #0057ff;
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 1s;
  transform: translateY(0%);

  h3 {
    position: absolute;
    @include mixingfunc.measures(166px, 39px, 366px, 21px);
    @include mixingfunc.font-style(Inter, normal, 600, 30px, 130%, center);
    color: #000000;
  }
}
#text-dc {
  box-sizing: border-box;
  position: absolute;
  @include mixingfunc.measures(808px, 129px, 45px, 82px);
  @include mixingfunc.font-style(Inter, normal, 300, 20px, 130%, center);
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  resize: none;
  color: #000000;
  padding-left: 18px;
  padding-top: 12px;
}

.bnt-dc {
  position: absolute;
  /*   @include mixingfunc.measures(186px, 48px, 667px, 237px); */
  @include mixingfunc.measures(137px, 32px, 692px, 245px);
  @include mixingfunc.font-style(Inter, normal, 700, 25px, 130%, center);
  background: #d80027;
  border-radius: 20px;
  position: absolute;
  color: #ffffff;
}

.btn-dc2 {
  position: absolute;
  @include mixingfunc.measures(84px, 32px, 45px, 245px);
  @include mixingfunc.font-style(Inter, normal, 600, 25px, 130%, center);
  color: #000000;
}
.modal-close-dc {
  transform: translateY(-200%);
}
