@use "mixingfunc";
/* ----------------------Section Form---------------------------- */
.cont-new-news {
  @include mixingfunc.measures(1251px, 840px, 424px, 144px);
  position: absolute;
  background: #ffffff;
  border-radius: 20px;

  .title-news {
    box-sizing: border-box;
    padding-left: 19px;
    padding-right: 10px;
    position: absolute;
    width: 1194px;
    height: 51px;
    left: 29px;
    top: 65px;
    color: #000;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-size: 25px;
  }
}
.open-form-news {
  transform: translateY(-200%);
}

#cont-form-news {
  .input-category-news {
    box-sizing: border-box;
    position: absolute;
    @include mixingfunc.measures(590px, 51px, 29px, 131px);
    @include mixingfunc.font-style(Arial, normal, 400, 25px, 130%, justify);
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    padding-left: 19px;
    color: #000000;
  }

  .input-price-news {
    box-sizing: border-box;
    position: absolute;
    @include mixingfunc.measures(590px, 51px, 633px, 131px);
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
    padding-left: 19px;
  }

  #area-news {
    box-sizing: border-box;

    position: absolute;
    width: 1194px;
    height: 443px;
    left: 29px;
    top: 200px;
    border-radius: 10px;
    .txtarea-news {
      margin-top: 40px;
      resize: none;
      border-radius: 10px;
      width: 1194px;
      height: 483px;
    }
  }
}
#create-news {
  position: absolute;
  width: 226px;
  height: 48px;
  left: 997px;
  top: 771px;

  background: #338af3;
  border-radius: 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  transition: all 0.4s ease;

  color: #ffffff;
  &:hover {
    background: #fff;
    color: #000;
  }
}

.font-title-news {
  position: absolute;
  width: 278px;
  height: 39px;
  left: 30px;
  top: 11px;

  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  /* identical to box height, or 39px */

  color: #000000;
}

.none-news {
  display: none;
}

/*----------------------------- Section Table---------------------- */

.cont-tables-news {
  //@include mixingfunc.measures(1051px, 594px, 344px, 142px);
  margin: 142px 45px 288px 424px;

  width: 1251px;
  height: 594px;
  background: #8eaaff;
  border-radius: 20px;
  position: absolute;

  .cont-table-news_blue {
    overflow-y: auto;
    width: 1251px;
    height: 529px;
    border-radius: 18px;
  }

  .table-news {
    width: 1251px;
    height: 529px;
    background: #ffffff;
    border-radius: 20px;
    border-collapse: collapse;
    th {
      @include mixingfunc.font-style(
        Helvetica,
        normal,
        600,
        30px,
        130%,
        center
      );
      font-family: Arial, Helvetica, sans-serif;
      border: solid 1px black;
      max-height: 53px;
    }
    td {
      @include mixingfunc.font-style(Helvetica, normal, 400, 25px, 130%, left);
      border: solid 1px black;
      padding-left: 17px;
      padding-right: 17px;

      max-height: 39px;
      max-width: 400px;
      text-align: justify;
    }
  }
}
.up-table-news {
  transform: translateY(-200%);
}

.btn-news {
  @include mixingfunc.measures(226px, 48px, 1000px, 539px);
  @include mixingfunc.font-style(Arial, normal, 600, 25px, 130%, center);
  background: #338af3;
  border-radius: 20px;
  position: absolute;
  color: #ffffff;
  transition: all 0.5s ease;
  padding-top: 5px;

  &:hover {
    background: #fff;
    color: #000;
    transition: all 0.4s ease;
  }
  color: #ffffff;
  text-decoration: none;
}

/*------------------Section Modal-----------*/

#modal-container-news {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  @include mixingfunc.measures(100%, 100%, 0, 0);
  background-color: rgba(143, 143, 143, 0.65);
}


.modal-news {
  position: relative;
  width: 930px;
  height: 800px;
  left: 493px;
  top: 70px;
  border-radius: 10px;
 background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 1s;
  transform: translateY(0%);

  .close-news {
    position: absolute;
    left: 94.2%;
    right: 1.72%;
    top: 2.50%;
    bottom: 93.65%;
    color: #000;
    z-index: 1000;
    i {
      font-size: 30px;
    }
  }

  .cont-p-news {
    position: absolute;
    width: 920px;
    max-height: 785px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: auto;
    padding: 20px 40px 20px 20px;
  }
 
}
.modal-cl {
  transform: translateY(-200%); 
 }
/*-------------Modal delete --------------------------*/



#modal-container-dc {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  @include mixingfunc.measures(100%, 100%, 0, 0);
  background-color: rgba(143, 143, 143, 0.65);
}
.modal-dc {
  box-sizing: border-box;
  position: absolute;
  @include mixingfunc.measures(898px, 305px, 25%, 381px);
  bottom: 338px;
  background: rgba(255, 255, 255, 0.65);
  border: 3px solid #0057ff;
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 1s;
  transform: translateY(0%);

  h3 {
    position: absolute;
    @include mixingfunc.measures(166px, 39px, 366px, 21px);
    @include mixingfunc.font-style(Arial, normal, 600, 30px, 130%, center);
    color: #000000;
  }
}
#text-dc {
  box-sizing: border-box;
  position: absolute;
  @include mixingfunc.measures(808px, 129px, 45px, 82px);
  @include mixingfunc.font-style(Arial, normal, 300, 20px, 130%, center);
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  resize: none;
  color: #000000;
  padding-left: 18px;
  padding-top: 12px;
}

.bnt-dc {
  position: absolute;
  /*   @include mixingfunc.measures(186px, 48px, 667px, 237px); */
  @include mixingfunc.measures(137px, 32px, 692px, 245px);
  @include mixingfunc.font-style(Arial, normal, 700, 25px, 130%, center);
  background: #d80027;
  border-radius: 20px;
  position: absolute;
  color: #ffffff;
}

.btn-dc2 {
  position: absolute;
  @include mixingfunc.measures(84px, 32px, 45px, 245px);
  @include mixingfunc.font-style(Arial, normal, 600, 25px, 130%, center);
  color: #000000;
}
.modal-close-dc {
  transform: translateY(-200%);
}


.icons-news {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  i {
    width: 30px;
    height: 30px;
  }

  .edit-news {
    font-size: 30px;
    color: #ff9811;
    transition: news5s ease;
    &:hover {
      color: #6e7f8f;
    }
  }
  .remove-news {
    font-size: 30px;
    color: red;
     &:hover {
      color: #6e7f8f;
    }
  }

  .read-news {
    font-size: 30px;
    color: #0057ff;
     &:hover {
      color: #6e7f8f;
    }
  }
}