@use "mixingfunc";
#container__tables {
  //@include mixingfunc.measures(1051px, 594px, 344px, 142px);
  margin: 142px 45px 288px 424px;

  width: 1251px;
  height: 594px;
  background: #8eaaff;
  border-radius: 20px;
  position: absolute;

  .container__table--blue {
    overflow-y: hidden;
    width: 1251px;
    height: 529px;
    border-radius: 18px;
  }

  .table {
    //@include mixingfunc.measures(1051px, 529px, 0px, 0px);

    width: 1251px;
    height: 529px;
    background: #ffffff;

    border-radius: 20px;

    border-collapse: collapse;
    th {
      @include mixingfunc.font-style(Inter, normal, 600, 30px, 130%, center);
      border: solid 1px black;
      height: 53px;
    }
    td {
      @include mixingfunc.font-style(Inter, normal, 400, 25px, 130%, left);
      border: solid 1px black;
      padding-left: 17px;
      height: 39px;
    }
  }
}

.btn__activities {
  @include mixingfunc.measures(226px, 48px, 1000px, 539px);
  @include mixingfunc.font-style(Inter, normal, 600, 25px, 130%, center);
  background: #338af3;
  border-radius: 20px;
  position: absolute;
  color: #ffffff;
  transition: all 0.5s ease;
  padding-top: 5px;

  &:hover {
    background: #fff;
    color: #000;
    transition: all 0.4s ease;
  }

  /* or 32px */

  color: #ffffff;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  i {
    width: 30px;
    height: 30px;
  }

  .edit {
    font-size: 30px;
    color: #ff9811;
    transition: all 0.5s ease;
    &:hover {
      color: #6e7f8f;
    }
  }
  .remove {
    font-size: 30px;
    color: red;
  }

  .read {
    font-size: 30px;
    color: #0057ff;
  }
}
