@use "mixingfunc";
/* ----------------------Section Form---------------------------- */
.cont-new-promotion {
  @include mixingfunc.measures(1251px, 840px, 424px, 144px);
  position: absolute;
  background: #ffffff;
  border-radius: 20px;

  .title-promotion {
    box-sizing: border-box;
    padding-left: 19px;
    padding-right: 10px;
    position: absolute;
    width: 1194px;
    height: 51px;
    left: 29px;
    top: 65px;
    color: #000;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-size: 25px;
  }
}
.open-form-promotion {
  transform: translateY(-200%);
}

#cont-form-promotion {
  .input-category-course {
    box-sizing: border-box;
    position: absolute;
    @include mixingfunc.measures(590px, 51px, 29px, 131px);
    @include mixingfunc.font-style(Arial, normal, 400, 25px, 130%, justify);
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    padding-left: 19px;
    color: #000000;
  }

  .input-price-promotion {
    box-sizing: border-box;
    position: absolute;
    @include mixingfunc.measures(590px, 51px, 633px, 131px);
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
    padding-left: 19px;
  }

  .input-DateStart-promotion {
    box-sizing: border-box;
    position: absolute;
    width: 288px;
    height: 51px;
    left: 29px;
    top: 197px;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    padding-left: 19px;
    padding-right: 10px;
    /* or 32px */

    color: #000000;
  }
  .input-DateEnd-promotion {
    box-sizing: border-box;
    position: absolute;
    width: 288px;
    height: 51px;
    left: 330px;
    top: 197px;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    padding-left: 19px;
    padding-right: 10px;
    /* or 32px */

    color: #000000;
  }
  #area-promotion {
    box-sizing: border-box;

    position: absolute;
    width: 1194px;
    height: 443px;
    left: 29px;
    top: 200px;
    border-radius: 10px;
    .txtarea-course {
      margin-top: 40px;
      resize: none;
      border-radius: 10px;
      width: 1194px;
      height: 483px;
    }
  }
}
#create-promotion {
  position: absolute;
  width: 226px;
  height: 48px;
  left: 997px;
  top: 771px;

  background: #338af3;
  border-radius: 20px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  transition: all 0.4s ease;

  color: #ffffff;
  &:hover {
    background: #fff;
    color: #000;
  }
}

.font-title-promotion {
  position: absolute;
  width: 278px;
  height: 39px;
  left: 17px;
  top: 11px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 39px */

  color: #000000;
}

.none-promotion {
  display: none;
}

.input-category-promotion {
  box-sizing: border-box;
  position: absolute;
  @include mixingfunc.measures(590px, 51px, 29px, 131px);
  @include mixingfunc.font-style(Arial, normal, 400, 25px, 130%, justify);
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  padding-left: 19px;
  color: #000000;
}

.font-title-promotion {
  position: absolute;
  width: 400px;
  height: 39px;
  left: 17px;
  top: 11px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
}

.input-offer-promotion {
  box-sizing: border-box;
  position: absolute;
  @include mixingfunc.measures(590px, 51px, 633px, 197px);
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  color: #000000;
  padding-left: 19px;
}

#area-promotion {
  box-sizing: border-box;

  position: absolute;
  width: 1194px;
  height: 443px;
  left: 29px;
  top: 200px;
  border-radius: 10px;
  .txtarea-promotion {
    margin-top: 70px;
    resize: none;
    border-radius: 10px;
    width: 1194px;
    height: 483px;
  }
}

/*----------------------------- Section Table---------------------- */

.cont-tables-promotion {
  //@include mixingfunc.measures(1051px, 594px, 344px, 142px);
  margin: 142px 45px 288px 424px;

  width: 1251px;
  height: 594px;
  background: #8eaaff;
  border-radius: 20px;
  position: absolute;

  .cont-table-promotion_blue {
    overflow-y: auto;
    width: 1251px;
    height: 529px;
    border-radius: 18px;
  }

  .table-promotion {
    width: 1251px;
    height: 529px;
    background: #ffffff;
    border-radius: 20px;
    border-collapse: collapse;
    th {
      @include mixingfunc.font-style(Arial, normal, 600, 30px, 130%, center);
      font-family: Arial;
      border: solid 1px black;
      max-height: 53px;
    }
    td {
      @include mixingfunc.font-style(Arial, normal, 400, 25px, 130%, left);
      border: solid 1px black;
      padding-left: 17px;
      padding-right: 17px;

      max-height: 39px;
      max-width: 400px;
      text-align: justify;
    }
  }
}
.up-table-promotion {
  transform: translateY(-200%);
}

.btn-promotion {
  @include mixingfunc.measures(280px, 48px, 950px, 539px);
  @include mixingfunc.font-style(Arial, normal, 600, 25px, 130%, center);
  background: #338af3;
  border-radius: 20px;
  position: absolute;
  color: #ffffff;
  transition: all 0.5s ease;
  padding-top: 5px;

  &:hover {
    background: #fff;
    color: #000;
    transition: all 0.4s ease;
  }
  color: #ffffff;
  text-decoration: none;
}

/*------------------Section Modal-----------*/

#modal-container-promotion {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  @include mixingfunc.measures(100%, 100%, 0, 0);
  background-color: rgba(143, 143, 143, 0.65);
}
.modal-close-promotion {
  transform: translateY(-200%);
}

.modal-promotion {
  position: absolute;
  width: 928px;
  height: 971px;
  left: 493px;
  top: 28px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 1s;
  transform: translateY(0%);

  .parrafo {
    position: absolute;
    @include mixingfunc.measures(850px, 307px, 39px, 71px);
    @include mixingfunc.font-style(Arial, normal, 400, 25px, 130%, center);
    text-align: justify;
    color: #000000;
    overflow-y: scroll;
  }
  .title-modal-promotion {
    position: absolute;
    @include mixingfunc.measures(328px, 32px, 300px, 23px);
    @include mixingfunc.font-style(Arial, normal, 700, 25px, 130%, center);
    color: #000000;
  }

  .close-promotion {
    position: absolute;
    left: 95.04%;
    right: 1.72%;
    top: 2.11%;
    bottom: 93.65%;
    color: #000;
    i {
      font-size: 30px;
    }
  }
  .cont-p-promotion {
    position: absolute;
    width: 850px;
    height: 318px;
    left: 39px;
    top: 167px;
    p {
      font-family: "sans-serif";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      /* or 32px */

      text-align: justify;

      color: #000000;
    }
  }
  .pe {
    position: absolute;
    width: 171px;
    height: 32px;
    left: 39px;
    top: 462px;
    font-family: "sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }
  .do {
    position: absolute;
    width: 84px;
    height: 32px;
    left: 39px;
    top: 494px;

    font-family: "sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */

    color: #000000;
  }
}
.price-prom {
  position: absolute;
  width: 82px;
  height: 32px;
  left: 39px;
  top: 87px;

  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */
  text-decoration-line: line-through;
  color: rgba(255, 0, 0, 0.65);
}
.offer-prom {
  position: absolute;
  width: 71px;
  height: 32px;
  left: 39px;
  top: 119px;

  font-family: "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */

  color: #038c33;
}
.date-prom {
  position: absolute;
  width: 103px;
  height: 32px;
  left: 786px;
  top: 87px;

  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */

  color: #000000;
}

.off {
  position: absolute;
  width: 433px;
  height: 423px;
  left: 248px;
  top: 336px;

  background: url("/src/public/off.png");

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
