<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>CRUD API REST AJAX</h1>
    <section class="crud">
        <article>
            <h2 class="crud-title">Agregar Actividad</h2>
            <form action="" class="crud-form">
                <!-- <input class="id" type="text" name="id" placeholder="id" id> -->
                <br>
                <input class="title" type="text" name="activitiName" placeholder="Activity Name">
                <br>
                <select class="list-one" name="category">
                    <option selected disabled="">Category</option>
                    <option>FREE</option>
                    <option>PRO</option>
                    <option>PRO +</option>
                </select>
                <br>
                <select class="list-two" name="tags">
                    <option selected disabled="">Optional Tags</option>
                    <option>Read</option>
                    <option>Write</option>
                    <option>Speak</option>
                    <option>Listen</option>
                </select>
                <br>
                <input type="text" name="level" placeholder="Level">
                <br>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" value="enviar form">
                <br>
                <input type="hidden" name="id">
            </form>
        </article>
        <article>
            <h2>ver actividades</h2>
            <table class="crud-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Activitie title</th>
                        <th>category</th>
                        <th>Tags</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </article>
    </section>
    <template id="crud-template">

        <tr>
            <td class="id-activitie"></td>
            <td class="nameActivity"></td>
            <td class="category"></td>
            <td class="tags"></td>
            <td class="description"></td>
            <td>
                <button class="edit">Editar</button>
                <button class="delete">Eliminar</button>
            </td>
        </tr>
    </template>

    <script>
        const d = document,
            $table = d.querySelector(".crud-table"),
            $form = d.querySelector(".crud-form"),
            $title = d.querySelector(".crud-title"),
            $template = d.getElementById("crud-template").content,
            $fragment = d.createDocumentFragment();

        const ajax = (options) => {
            let { url, method, success, error, data } = options
            const xhr = new XMLHttpRequest();
            xhr.addEventListener("readystatechange", e => {

                if (xhr.readyState !== 4) return;
                if (xhr.status >= 200 && xhr.status < 300) {
                    let json = JSON.parse(xhr.responseText);
                    success(json)
                } else {
                    let message = xhr.statusText || "Ocurrió un error";
                    error(`Error ${xhr.status}: ${message}`)

                }
            })
            xhr.open(method || "GET", url);
            xhr.setRequestHeader("Content-type", "aplication/json; charset=utf-8");
            xhr.send(JSON.stringify(data));
        }

        const getAll = () => {
            ajax({
                method: "GET",
                url: "http://localhost:3000/activities",
                success: (res) => {
                    console.log(res)
                    res.forEach(ele => {
                        $template.querySelector(".id-activitie").textContent = ele.id;
                        $template.querySelector(".nameActivity").textContent = ele.activitiName;
                        $template.querySelector(".category").textContent = `${ele.category} ${ele.level}`;
                        $template.querySelector(".tags").textContent = ele.tags;
                        $template.querySelector(".description").textContent = ele.description;
                        $template.querySelector(".edit").dataset.id = ele.id;
                        $template.querySelector(".edit").dataset.activitiName = ele.activitiName;
                        $template.querySelector(".edit").dataset.category = ele.category;
                        $template.querySelector(".edit").dataset.level = ele.level;
                        $template.querySelector(".edit").dataset.tags = ele.tags;
                        $template.querySelector(".edit").dataset.description = ele.description;
                        $template.querySelector(".delete").dataset.id = ele.id;
                        let $clone = d.importNode($template, true);
                        $fragment.appendChild($clone)
                    });
                    $table.querySelector("tbody").appendChild($fragment);
                },
                error: (err) => {
                    console.log(err)
                    $table.insertAdjacentHTML("afterend", `<p><b>${err}</b></p>`)

                },
                data: null

            })
        }
        d.addEventListener("DOMContentLoaded", getAll)
        d.addEventListener("submit", e => {
            if (e.target === $form) {
                e.preventDefault()
                if (!e.target.id.value) {
                    //POST
                    ajax({
                        url: "http://localhost:3000/activities",
                        method: "POST",
                        success: (res) => location.reload(),
                        error: () => $form.insertAdjacentHTML("afterend", `<p><b>${err}</b></p>`),
                        data: {
                            activitiName: e.target.activitiName.value,
                            category: e.target.category.value,
                            level: e.target.level.value,
                            tags: e.target.tags.value,
                            description: e.target.description.value,

                        }

                    })
                } else {
                    //update-Put
                    ajax({
                        url: `http://localhost:3000/activities/${e.target.id.value}`,
                        method: "PUT",
                        success: (res) => location.reload(),
                        error: () => $form.insertAdjacentHTML("afterend", `<p><b>${err}</b></p>`),
                        data: {
                            activitiName: e.target.activitiName.value,
                            category: e.target.category.value,
                            level: e.target.level.value,
                            tags: e.target.tags.value,
                            description: e.target.description.value,

                        }

                    })
                }
            }
        })
        d.addEventListener("click", e => {
            if (e.target.matches(".edit")) {
                $title.textContent = "Edit Activity";
                $form.activitiName.value = e.target.dataset.activitiName
                $form.category.value = e.target.dataset.category
                $form.level.value = e.target.dataset.level
                $form.tags.value = e.target.dataset.tags
                $form.description.value = e.target.dataset.description
            }

        })

        d.addEventListener("click", e => {
            if (e.target.matches(".delete")) {
                ajax({
                    url: `http://localhost:3000/activities/${e.target.dataset.id}`,
                    method: "DELETE ",
                    success: (res) => location.reload(),
                    error: () => $form.insertAdjacentHTML("afterend", `<p><b>${err}</b></p>`),
                })

            }

        })
    </script>

</body>

</html>