<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/en.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/lib/codemirror.min.css">
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/lib/codemirror.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/htmlmixed/htmlmixed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/xml/xml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/css/css.js"></script>
    <title>Memberships</title>
</head>

<body>
    <div id="container">

        <section class="cont-new-member open-form-member">
            <section class=" crud-member" id="cont-form-memeber">
                <article>
                    <p class="crud-title-member font-title-member">Create new membership</p>
                    <form action="" class="crud-form-member">
                        <input type="hidden" name="idi">

                        <input class="title-member" type="text" name="memberName" placeholder="Membership name"
                            required>

                        <select class="input-category-member" name="memberCategory">
                            <option selected disabled="">Category</option>
                            <option>Paid</option>
                            <option>Program</option>
                            <option>Accounts</option>
                            <option>Intranet</option>
                            <option>Brandingr</option>
                            <option>Applocations</option>
                            <option>Interactions</option>
                            <option>Functionality</option>

                        </select>

                        <input class="input-price-member" type="number" name="memberPrice" placeholder="Price*">
                        <div>

                            <div id="area-member">
                                <textarea name="memberDescription" class="txtarea-member" cols="30"
                                    rows="10"> </textarea>
                            </div>
                    </form>
                    <input id="create-member" type="submit" value="Create membership" class="btn-submit">
                    <input class="cancel-form" type="button" value="Cancel">
                </article>

            </section>
        </section>

        <div class="menu">
            <a href="" class="menu__logo"></a>
            <div class="menu__list">
                <li><a href="/src/views/student.html">Students</a></li>
                <li><a href="/src/views/news.html">News</a></li>
                <li><a href="/src/views/courses/courses.html">Courses</a></li>
                <li><a href="/src/views/activity/actividades.html">Activities</a></li>
                <li><a href="/src/views/resource/resource.html">Resources</a></li>
                <li><a href="">Certificates</a></li>
                <li><a href="" class="space">Private Classes</a></li>
                <div class="space-top">
                    <li><a href="/src/views/promotions/promotions.html">Offers</a></li>
                    <li class=" press"><a href="/src/views/menbership.html">Memberships</a></li>
                    <li><a href="/src/views/referrals.html">Referrals</a></li>
                    <li><a href="/src/views/sponsors.html">Sponsors</a></li>
                    <li><a href="/src/views/index.html">Reviews</a>
                </div>


            </div>

        </div>

        <section id="nav">

            <div class="nav__icon">
                <i class="fas fa-bell"></i>
                <i class="far fa-envelope"></i>
                <a href="" class="profile"></a>
            </div>
        </section>

        <section class="cont-tables-member ">
            <div class="cont-table-member_blue">
                <table class="crud-table-member table-member">

                </table>
            </div>


            <button class="btn-member">Add new membership</button>

        </section>

        <section id="modal-container-member">
            <div class="modal-member modal-clm">
                <div class="close-member"><i class="fas fa-times-circle poi"></i></div>
                <div class="cont-p-member">
                </div>
        </section>


        <form class="form-delete" action="">
            <section id="modal-container-d">
                <div class="modal-d modal-close-d">
                    <h3>Delete item</h3>
                    <textarea name="cuadro" id="text-d" cols="30" rows="10" placeholder="Reason..." required></textarea>
                    <button type="submit" class="close-d bnt-d">Yes, Delete</button>
                    <button class="close-d btn-d2">Cancel</button>

                </div>
            </section>

        </form>

        <section class="container-notify-succes sucesx alert " id="alert">
            <i class="fas fa-check-circle close-notify-succes"></i>
            <p class="parrafo-succes"></p>
        </section>

        <section id="container-noti">
            <div class="noti__idea"></div>
            <p class="noti__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat deserunt eius,
                animi fugiat debitis, id ipsa sint recusandae eum nobis odit sequi nihil dicta beatae qui eveniet
                mollitia, excepturi adipisci.</p>

        </section>

    </div>
    <script src="/src/js/memberships/main-membership.js" type="module"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous">
    </script>
</body>

</html>