<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/en.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/lib/codemirror.min.css">
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/lib/codemirror.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/htmlmixed/htmlmixed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/xml/xml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/css/css.js"></script>
    <title>Resources</title>
</head>

<body>

    <div id="container">

        <section class="cont-new-resource open-form-resource">
            <section class=" crud-resource" id="cont-form-resource">
                <article>
                    <p class="crud-title-resource font-title-resource">Create new resource</p>
                    <form class="crud-form-resource">
                        <input type="hidden" name="idi">

                        <input class="title-resource" type="text" name="resourceTitle" placeholder="Resource Title"
                            required>

                        <select class="input-category-resource" name="category">
                            <option selected disabled="">Category</option>
                            <option>Books</option>
                            <option>Directives</option>
                            <option>Paradigm</option>
                            <option>Creative</option>
                            <option>Accountabilly</option>
                            <option>Research</option>
                            <option>Identity</option>
                            <option>Quality</option>
                            <option>Program</option>
                            <option>Functionality</option>
                            <option>Configuration</option>
                        </select>

                        <select class="input-tags-resource" name="tags">
                            <option selected disabled="">Optional Tags</option>
                            <option>Read</option>
                            <option>Listen</option>
                            <option>Speak</option>
                        </select>

                        <div id="area-resource">
                            <textarea name="description" class="txtarea-resource" cols="30" rows="10"
                                style="height: 500px;"> </textarea>
                        </div>
                    </form>
                    <input id="create-resource" type="submit" value="Create resource" class="btn-submit">
                    <input class="cancel-form" type="button" value="Cancel">
                </article>

            </section>
        </section>

        <div class="menu">
            <a href="" class="menu__logo"></a>
            <div class="menu__list">
                <li><a href="/src/views/student.html">Students</a></li>
                <li><a href="/src/views/news.html">News</a></li>
                <li><a href="/src/views/courses.html">Courses</a></li>
                <li><a href="/src/views/activities.html">Activities</a></li>
                <li class=" press"><a href="/src/views/resource.html">Resources</a></li>
                <li><a href="">Certificates</a></li>
                <li><a href="" class="space">Private classes</a></li>
                <div class="space-top">
                    <li><a href="/src/views/offers.html">Offers</a></li>
                    <li><a href="/src/views/menbership.html">Memberships</a></li>
                    <li><a href=" /src/views/referrals.html">Referrals</a></li>
                    <li><a href="/src/views/sponsors.html">Sponsors</a></li>
                    <li><a href="/src/views/index.html">Reviews</a>
                </div>


            </div>

        </div>

        <section id="nav">

            <div class="nav__icon">
                <i class="fas fa-bell"></i>
                <i class="far fa-envelope"></i>
                <a href="" class="profile"></a>
            </div>
        </section>

        <section class="cont-tables-resource ">
            <div class="cont-table-resource_blue">
                <table class="crud-table-resource table-resource">
                </table>
            </div>
            <button class="btn-resource">Add new resource</button>
        </section>

        <section id="modal-container-resource">
            <div class="modal-resource modal-clos">
                <div class="close-resource perr"><i class="fas fa-times-circle poi"></i></div>
                <div class="cont-p-resource">
                </div>


        </section>

        <form class="form-delete-dr" action="">
            <section id="modal-container-dr">
                <div class="modal-dr modal-close-dr">
                    <h3>Delete item</h3>
                    <textarea name="cuadro" id="text-dr" cols="30" rows="10" placeholder="Reason..."
                        required></textarea>
                    <input type="submit" class="close-dr bnt-dr" value="Yes, Delete"></input>
                    <button class="close-dr btn-dr2">Cancel</button>

                </div>
            </section>

        </form>

        <section class="container-notify-succes alert" id="alert">
            <i class="fas fa-check-circle close-notify-succes"></i>
            <p class="parrafo-succes"></p>
            <!--   <i class="fas fa-check-circle check-succes"></i> -->

        </section>

        <section id="container-noti">
            <div class="noti__idea"></div>
            <p class="noti__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat deserunt eius,
                animi fugiat debitis, id ipsa sint recusandae eum nobis odit sequi nihil dicta beatae qui eveniet
                mollitia, excepturi adipisci.</p>

        </section>


    </div>
    <!--     <script src="/src/js/index.js" type="module"></script> -->
    <script src="/src/js/resources/main-resurces.js" type="module"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous">
    </script>
</body>

</html>