<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/en.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/lib/codemirror.min.css">
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/lib/codemirror.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/htmlmixed/htmlmixed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/xml/xml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/css/css.js"></script>
    <title>Activities</title>
</head>

<body>
    <div id="container">

        <section class="cont-new-review open-form-input">
            <section class=" crud" id="list-select">

                <p class="crud-title p1">Create activity</p>
                <form class="crud-form">
                    <input type="hidden" name="idi">
                    <input class="title" type="text" name="activitiName" placeholder="Activity Name" required>
                    <select class="list-one" name="category">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>

                    <select class="list-two" name="tags">
                        <option selected disabled="">Optional Tags</option>
                        <option>Read</option>
                        <option>Write</option>
                        <option>Speak</option>
                        <option>Listen</option>
                    </select>

                    <input class="author" type="text" name="author" placeholder="Author" required>

                    <select class="level" name="level" required>
                        <option selected disabled="">Level</option>
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                        <option>Level 4</option>
                        <option>Level 5</option>
                    </select>

                    <div id="area">
                        <textarea name="description" class="txtarea" cols="30" rows="10"> </textarea>
                    </div>
                </form>
                <input id="create-review" type="submit" value="Create Activity" class="btn-submit">
                <input class="cancel-form" type="button" value="Cancel">
            </section>
        </section>

        <div class="menu">
            <a href="" class="menu__logo"></a>
            <div class="menu__list">
                <li><a href="/src/views/student.html">Students</a></li>
                <li><a href="/src/views/news.html">News</a></li>
                <li><a href="/src/views/courses/courses.html">Courses</a></li>
                <li class="press"><a href="/src/views/activity/actividades.html">Activities</a></li>
                <li><a href="/src/views/resource/resource.html">Resources</a></li>
                <li><a href="">Certificates</a></li>
                <li><a href="" class="space">Private Classes</a></li>
                <div class="space-top">
                    <li class="space2"><a href="/src/views/promotions/promotions.html">Offers</a></li>
                    <li><a href="/src/views/menbership.html">Memberships</a></li>
                    <li><a href="/src/views/referrals.html">Referrals</a></li>
                    <li><a href="/src/views/sponsors.html">Sponsors</a></li>
                    <li><a href=" /src/views/index.html">Reviews</a>
                </div>


            </div>

        </div>

        <section id="nav">

            <div class="nav__icon">
                <i class="fas fa-bell"></i>
                <i class="far fa-envelope"></i>
                <a href="" class="profile"></a>
            </div>
        </section>

        <section class="container__tables ">
            <div class="container__table--blue">
                <h1 id="tiempoCarga"></h1>
                <table class="crud-table table">
                </table>
            </div>
            <button class="btn__activities">Add New Activity</button>
        </section>

        <section id="modal-container-activity">
            <div class="modal-activity modal-cla">
                <div class="close-activity"><i class="fas fa-times-circle poi"></i></div>
                <div class="cont-p-activity">
                </div>
            </div>
        </section>



        <form class="form-delete" action="">
            <section id="modal-container-de">
                <div class="modal-de modal-close-de">
                    <h3>Delete item</h3>
                    <textarea name="cuadro" id="text-de" cols="30" rows="10" placeholder="Reason..." required></textarea>
                    <button type="submit" class="close-de bnt-de">Yes, Delete</button>
                    <button class="close-de btn-de2">Cancel</button>

                </div>
            </section>
        </form>
        
        <section class="container-notify-succes sucesx alert" id="alert">
            <i class="fas fa-check-circle close-notify-succes"></i>
            <p class="parrafo-succes"></p>
        </section>


        <section id="container-noti">
            <div class="noti__idea"></div>
            <p class="noti__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat deserunt eius,
                animi fugiat debitis, id ipsa sint recusandae eum nobis odit sequi nihil dicta beatae qui eveniet
                mollitia, excepturi adipisci.</p>

        </section>
    </div>

    <script src="/src/js/activities/main-activities.js" type="module"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous">
    </script>
</body>

</html>