<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="container">

        <div class="menu">
            <a href="" class="menu__logo"></a>
            <div class="menu__list">
                <li><a href="">Students</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Courses</a></li>
                <li class="press"><a href="">Activities</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Certificates</a></li>
                <li><a href="" class="space">Perzonalized classes</a></li>
                <li class="space2"><a href="">Promotions</a></li>
                <li><a href="">Membersips</a></li>
                <li><a href="">Referrals</a></li>
                <li><a href="">Sponsors</a></li>
                <li><a href="/src/views/index.html">Reviews</a>


            </div>

        </div>

        <section id="nav">

            <div class="nav__icon">
                <i class="fas fa-bell"></i>
                <i class="far fa-envelope"></i>
                <a href="" class="profile"></a>
            </div>
        </section>

        <section id="container__tables">
            <div class="container__table--blue">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Activity title</th>
                        <th>Category</th>
                        <th>Tags</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="fas fa-dot-circle read "></i>
                                <i class="fas fa-pen edit"></i>
                                <i class="fas fa-times-circle remove"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="fas fa-dot-circle read"></i>
                                <i class="fas fa-pen edit"></i>
                                <i class="fas fa-times-circle remove"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="fas fa-dot-circle read"></i>
                                <i class="fas fa-pen edit"></i>
                                <i class="fas fa-times-circle remove"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="fas fa-dot-circle read"></i>
                                <i class="fas fa-pen edit"></i>
                                <i class="fas fa-times-circle remove"></i>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="fas fa-dot-circle read"></i>
                                <i class="fas fa-pen edit"></i>
                                <i class="fas fa-times-circle remove"></i>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>81864</td>
                        <td>Senior Intranet Planner</td>
                        <td>Aurelie</td>
                        <td>Developer</td>
                        <td>
                            <div class="icons">
                                <i class="fas fa-dot-circle read"></i>
                                <i class="fas fa-pen edit"></i>
                                <i class="fas fa-times-circle remove"></i>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>75568</td>
                        <td>Future Web Liaison</td>
                        <td>Antonia</td>
                        <td>Coordinator</td>
                        <td>
                            <div class="icons">
                                <i class="fas fa-dot-circle read"></i>
                                <i class="fas fa-pen edit"></i>
                                <i class="fas fa-times-circle remove"></i>
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td>75568</td>
                        <td>Future Web Liaison</td>
                        <td>Antonia</td>
                        <td>Coordinator</td>
                        <td>
                            <div class="icons">
                                <i class="fas fa-dot-circle read"></i>
                                <i class="fas fa-pen edit"></i>
                                <i class="fas fa-times-circle remove"></i>
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td>75568</td>
                        <td>Future Web Liaison</td>
                        <td>Antonia</td>
                        <td>Coordinator</td>
                        <td>
                            <div class="icons">
                                <i class="fas fa-dot-circle read"></i>
                                <i class="fas fa-pen edit"></i>
                                <div class="remove"><i class=" fas fa-times-circle "></i></div>

                            </div>

                        </td>

                    </tr>
                </table>
            </div>

            <a href="create-activity.html" class="btn__activities">Agg new Activity</a>


        </section>

        <section id="modal-container">
            <div class="modal modal-close">
                <h3 class="title-modal">Activity Number One</h3>
                <div class="close"><i class="fas fa-times-circle"></i></div>
                <!--   <p class="mention-modal">Alysha A. Jones</p>
                <p class="type-modal">Executive</p> -->
                <div class="modal-container-section">
                    <p class="parrafo">

                        Commodi similique cupiditate praesentium facere dignissimos quos distinctio possimus sapiente!
                        Id tempora magnam itaque sed distinctio alias obcaecati est ab repellendus reiciendis quibusdam,
                        quasi corrupti, animi, optio quam aliquid quae.
                        Praesentium ab possimus quaerat officia obcaecati ut reprehenderit recusandae consequuntur
                        voluptatum optio quibusdam labore vitae, laboriosam repellat, dolores dignissimos officiis enim
                        ullam quae quam aut et suscipit? Earum, cumque ipsum.
                        Excepturi est tempore tenetur quod libero voluptatibus itaque earum, aspernatur neque dolores
                        dolorem harum. Quaerat, iure quidem sed nostrum cum officia doloremque voluptatibus? Omnis,
                        libero. Nobis corrupti totam itaque illum?
                        Ratione maiores iusto vero odio eligendi blanditiis, explicabo cupiditate iure ea cum dolorum,
                        atque, quibusdam beatae accusantium quos quidem ex aspernatur necessitatibus. Delectus
                        blanditiis autem rerum corporis. Odit, velit error.

                    </p>
                    <div class="section-2">
                        <div class="img-section"> </div>
                        <div class="aside"> Lorem ipsum dolor sit amet consectetur adipisicing elit. At similique
                            cupiditate nobis facilis voluptas fuga provident consequuntur dolor possimus eveniet. Vel
                            exercitationem delectus aperiam saepe quaerat. Doloribus ipsam suscipit fuga.</div>

                    </div>
                </div>
            </div>
        </section>

        <section id="modal-container-d">
            <div class="modal-d modal-close-d">
                <h3>Delete item</h3>
                <textarea name="" id="text-d" cols="30" rows="10" placeholder="Reason..."></textarea>
                <button class="close-d bnt-d">Yes, Delete</button>
                <button class="close-d btn-d2">Cancel</button>

            </div>
        </section>

    </div>
    <script src="/src/js/index.js" type="module"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous">
    </script>
</body>

</html>